@layout WikiLayout
@page "/wiki"
@using Client.Features.Shared.Components

<OpenGraph 
    Title="Wiki Аркленса"
    Description="Здесь содержится (или будет содержаться) информация о системе Аркленс"/>
<h1>Wiki</h1>

<div class="alert alert-info">
    Используйте кнопки для навигации на нужную страницу
</div>