@layout MainLayout
@inherits LayoutComponentBase

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-2">
            <nav class="d-flex flex-xl-column flex-row gap-2 pb-2 flex-wrap">
                @{
                    NavLinkInfo[] navLinks =
                    [
                        new NavLinkInfo("Главная", "wiki", "bi-house", NavLinkMatch.All),
                        new NavLinkInfo("Книги", "wiki/books", "bi-book"),
                        new NavLinkInfo("Эффекты", "wiki/effects", "bi-emoji-dizzy")
                    ];
                }
                @foreach (var navLink in navLinks)
                {
                    <NavLink href="@navLink.Href" 
                             class="btn text-body-emphasis"
                             ActiveClass="bg-body-tertiary shadow-sm"
                             Match="@navLink.Match">
                        <i class="bi @navLink.Icon"></i>
                        @navLink.Label
                    </NavLink>
                } 

                <a class="btn btn-outline-primary" href="https://un1ver5e.notion.site/724decf43a11419aa240f0ab42c37559?pvs=4" target="_blank">
                    <i class="bi bi-box-arrow-up-right"></i>
                    Notion
                </a>
            </nav>
        </div>
        <div class="col-xl-10">
            @Body
        </div>
    </div>
</div>