@layout MainLayout
@using Contracts
@inherits LayoutComponentBase

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-2">
            <nav class="d-flex flex-xl-column flex-row gap-2 pb-2 flex-wrap">
                <NavLink href="/wiki/" class="btn btn-outline-dark" ActiveClass="btn-dark text-light" Match="NavLinkMatch.All">
                    <i class="bi bi-house"></i>
                    Главная
                </NavLink>
                <NavLink href="/wiki/books" class="btn btn-outline-dark" ActiveClass="btn-dark text-light">
                    <i class="bi bi-book"></i>
                    Книги
                </NavLink>
                <NavLink href="/wiki/effects" class="btn btn-outline-dark" ActiveClass="btn-dark text-light">
                    <i class="bi bi-emoji-dizzy"></i>
                    Эффекты
                </NavLink>
                
                <AuthorizeView Roles="@RoleNames.Admin">
                    <Authorized>
                        <NavLink href="/wiki/chit-generator" class="btn btn-outline-dark" ActiveClass="btn-dark text-light">
                            <i class="bi bi-bug"></i>
                            Монстры
                        </NavLink>
                    </Authorized>
                </AuthorizeView>
                
                <a class="btn btn-outline-primary" href="https://un1ver5e.notion.site/724decf43a11419aa240f0ab42c37559?pvs=4" target="_blank">
                    <i class="bi bi-box-arrow-up-right"></i>
                    Notion
                </a>
            </nav>
        </div>
        <div class="col-xl-10">
            @Body
        </div>
    </div>
</div>