@inject IServiceProvider Services

<span id="@_id">
    @if (BlazorEnv.IsServer)
    {
        @Text
    }
</span>

@code {

    private readonly string _id = $"twemoji-{Guid.NewGuid()}";

    [Parameter, EditorRequired]
    public string Text { get; set; } = null!;

    protected override async Task OnAfterRenderAsync(bool firstRender) =>
        await Services.GetRequiredService<TwemojiJsInterop>().UpdateTwemoji(_id, Text);

}